<template>
  <v-carousel v-model="model">
    <v-carousel-item
      v-for="(color, i) in colors"
      :key="i"
    >
      <v-sheet
        height="100%"
        tile
        :style="{
          backgroundColor:'#787276',
          backgroundRepeat: no-repeat,
          backgroundImage: 'url(' + color.url + ')', 
          backgroundSize: 'contain',
          backgroundPosition: 'center'
          }"
      >
        <v-row
          class="fill-height ml-3 mb-5"
          align="start"
          justify="center"
        >
          <div class="text-h2" style="background:white; border-radius: 10px; margin-top: 24px; padding: 5px 20px" >
            {{ color.name }}
          </div>
        </v-row>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    name: 'HelloWorld',
    model: 0,
    data: () => ({
      colors: [
        {name: 'Yamie', url: 'http://makankeliling.com/wp-content/uploads/2015/09/yamie_panda_featured-640x425.jpg'},
        {name: 'Nasi Goreng', url: 'https://img.inews.co.id/media/822/files/inews_new/2021/10/11/Resep_Nasi_Goreng_Sederhana.jpg'},
        {name: 'Kwetiaw', url: 'https://asset.kompas.com/crops/t7prYe3XIGbIdFVZ7fB7poKyRxQ=/28x13:683x450/750x500/data/photo/2021/03/01/603cc1b4f13ab.jpg'},
        {name: 'Nasi Hainan', url: 'https://img-global.cpcdn.com/recipes/b2c44a737c13efaf/680x482cq70/hainanese-chicken-rice-nasi-ayam-hainan-foto-resep-utama.webp'}
      ]
    }),
  }
</script>